.env
*.ovpn
.venv
*.new.yml
*.ref.yml
*.mmdb
*.gz
core/pangolin/GeoLite2/
core/pangolin/config.yml
core/pangolin/db/
core/pangolin/key
core/pangolin/traefik/
core/traefik/dynamic_config.yml
core/traefik/static_config.yml
monitoring/alloy/config_chatgpt.alloy
