*/letsencrypt/*
*/mariadb_data/*
*/moodle_data/*
*/moodledata_data/*
*/db/*
*/wordpress/*
*/bitwarden/
*/data/*
settings.env
*/mailu/*
*/origin/*
*/certs/*
*/baserow_data/*
*/grafana_data/*
*/prometheus_data/*
nextcloud/.env
*/traefik/traefik/*
