services:
  traefik:
    image: traefik:latest
    container_name: traefik
    networks:
      default:
        ipv4_address: $UNIVERSE_NET.100
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped
    environment:
    # https://www.ovh.com/auth/api/createToken
    # https://eu.api.ovh.com/console/?section=%2Fme&branch=v1#delete-/me/api/application/-applicationId-
      - "TZ=$TZ"
    command:
      - --entrypoints.web.address=:80
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
      - --entrypoints.web.http.redirections.entrypoint.permanent=true
      - --entrypoints.websecure.address=:443
      - --entrypoints.websecure.http3.advertisedPort=443
      - --entrypoints.websecure.http.tls.certresolver=letsencrypt
      - --entrypoints.websecure.http.tls.domains.main=$HOST
      - --entrypoints.websecure.http.tls.domains.sans=*.$HOST
      - --entrypoints.websecure.http.middlewares=default@file
      - --entrypoints.websecure.forwardedHeaders.trustedIPs=$UNIVERSE_NET.0/24
      - --entrypoints.websecure.proxyprotocol=true
      - --entrypoints.websecure.proxyprotocol.trustedips=$UNIVERSE_NET.0/24
      - --providers.docker=true
      - --providers.docker.exposedByDefault=false
      - --providers.file.directory=conf.d
      - --providers.file.watch=true
      - --api.dashboard=true
      - --api.insecure=true
      - --accesslog=true
      - --accesslog.filepath=/logs/traefik.log
      - --accesslog.format=json
      - --accesslog.filters.statusCodes=200-299,400-599
      - --accesslog.bufferingSize=0
      - --accesslog.fields.headers.defaultMode=drop
      - --accesslog.fields.headers.names.User-Agent=keep
      - --certificatesresolvers.letsencrypt.acme.email=$EMAIL_LETS_ENCRYPT
      - --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json
      - --certificatesresolvers.letsencrypt.acme.httpchallenge=true
      - --certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web
      - --experimental.plugins.traefik-api-token-middleware.modulename=github.com/Aetherinox/traefik-api-token-middleware
      - --experimental.plugins.traefik-api-token-middleware.version=v0.1.4
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - $JOHNCLOUD_ROOT/traefik/conf.d:/conf.d
      - /var/log/traefik:/logs
      - $JOHNCLOUD_ROOT/traefik/letsencrypt:/letsencrypt
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.$HOST`)"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.tls.certresolver=letsencrypt"
      # - "traefik.http.routers.traefik.middlewares=authentik@file"
      - "traefik.http.middlewares.authentik-auth.forwardauth.address=http://authentik-server-1:9000/outpost.goauthentik.io/auth/traefik"
      - "traefik.http.middlewares.authentik-auth.forwardauth.trustForwardHeader=true"
      - "traefik.http.middlewares.authentik-auth.forwardauth.authResponseHeaders=X-authentik-username,X-authentik-groups,X-authentik-entitlements,X-authentik-email,X-authentik-name,X-authentik-uid,X-authentik-jwt,X-authentik-meta-jwks,X-authentik-meta-outpost,X-authentik-meta-provider,X-authentik-meta-app,X-authentik-meta-version"
      - "traefik.http.routers.traefik.middlewares=authentik-auth"
      - "homepage.group=Platform"
      - "homepage.name=Traefik"
      - "homepage.icon=traefik.svg"
      - "homepage.href=https://traefik.$HOST/dashboard/"
      - "homepage.description=Traefik reverse proxy"
      - "homepage.widget.type=traefik"
      - "homepage.widget.url=http://$UNIVERSE_NET.100:8080"

  node_exporter:
    image: quay.io/prometheus/node-exporter:latest
    restart: unless-stopped
    container_name: node_exporter
    command:
      - '--path.rootfs=/host'
    pid: host
    volumes:
      - /:/host:ro,rslave
    environment:
      - TZ=$TZ
    depends_on:
      - traefik
      - redis
      - prometheus
    labels:
      - "traefik.enable=false"

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    command: -max_procs=2 -docker_only=true
    environment:
      - TZ=$TZ
    depends_on:
      - traefik
      - redis
      - prometheus
    labels:
      - "traefik.enable=false"
  
  pdc:
    # https://grafana.com/docs/grafana-cloud/connect-externally-hosted/private-data-source-connect/#private-data-source-connect-pdc-concepts
    image: grafana/pdc-agent:latest
    container_name: pdc
    restart: unless-stopped
    depends_on:
      - traefik
      - prometheus
      - loki
    command: ["-token","$GRAFANA_PDC_TOKEN","-cluster","$GRAFANA_PDC_CLUSTER","-gcloud-hosted-grafana-id","$GRAFANA_PDC_GCP_ID"]
    labels:
      - "traefik.enable=false"

  loki:
    image: grafana/loki:latest
    container_name: loki
    user: "0:0"
    # ports:
    #   - 3100:3100
    depends_on:
      - traefik
      - promtail
    volumes:
      - $JOHNCLOUD_ROOT/loki/data:/loki
      - $JOHNCLOUD_ROOT/loki:/etc/loki-custom
    command: -config.file=/etc/loki-custom/config.yml
    environment:
      - TZ=$TZ
    labels:
      - "traefik.enable=false"
    
  promtail:
    image:  grafana/promtail:latest
    container_name: promtail
    depends_on:
      - traefik
    volumes:
      - $JOHNCLOUD_ROOT/promtail:/etc/promtail-custom
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/log/traefik:/var/logs/traefik:ro
    command: -config.file=/etc/promtail-custom/config.yml
    environment:
      - TZ=$TZ
    labels:
      - "traefik.enable=false"

  speedtest:
    image: jraviles/prometheus_speedtest:latest
    container_name: speedtest
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:main
    container_name: prometheus
    user: "0:0"
    restart: unless-stopped
    depends_on:
      - traefik
      - speedtest
    volumes:
      - $JOHNCLOUD_ROOT/prometheus/:/etc/prometheus/
      - $JOHNCLOUD_ROOT/prometheus/db:/prometheus
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    command:
      - "--web.route-prefix=/"
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/usr/share/prometheus/console_libraries"
      - "--web.console.templates=/usr/share/prometheus/consoles"
      - "--web.enable-lifecycle"
    environment:
      - TZ=$TZ
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prometheus.rule=Host(`prometheus.$HOST`)"
      - "traefik.http.routers.prometheus.entrypoints=websecure"
      - "traefik.http.routers.prometheus.tls.certresolver=letsencrypt"
      - "traefik.http.services.prometheus.loadbalancer.server.port=9090"
      - "traefik.http.routers.prometheus.middlewares=authentik@file"
      - "homepage.group=Platform"
      - "homepage.name=Prometheus"
      - "homepage.icon=prometheus.svg"
      - "homepage.href=https://prometheus.$HOST/"
      - "homepage.description=Systems and service monitoring system"

  certdumper:
    image: ghcr.io/kereis/traefik-certs-dumper:latest
    restart: unless-stopped
    container_name: certdumper
    depends_on:
      - traefik
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - $JOHNCLOUD_ROOT/traefik/letsencrypt:/traefik:ro
      - $JOHNCLOUD_ROOT/traefik/certs:/output

  portainer:
    image: portainer/portainer-ee:latest
    container_name: portainer
    restart: unless-stopped
    depends_on:
      - traefik
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - $JOHNCLOUD_ROOT/portainer/data:/data
    networks:
      default:
        ipv4_address: $UNIVERSE_NET.102
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.portainer.rule=Host(`portainer.$HOST`)"
      - "traefik.http.routers.portainer.entrypoints=websecure"
      - "traefik.http.routers.portainer.tls.certresolver=letsencrypt"
      - "traefik.http.services.portainer.loadbalancer.server.port=9000"

  redis:
    image: redis:7.2.0
    container_name: redis
    depends_on:
      - traefik
    environment:
      - TZ=$TZ
      - ENABLE_OVERCOMMIT_MEMORY=true
    labels:
      - "traefik.enable=false"

  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: unless-stopped
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=home.$HOST
    depends_on:
      - traefik
    volumes:
      - $JOHNCLOUD_ROOT/homepage/config:/app/config # Make sure your local config directory exists
      - /var/run/docker.sock:/var/run/docker.sock:ro # (optional) For docker integrations
    labels:
        - "traefik.enable=true"
        - "traefik.http.routers.homepage.rule=Host(`home.$HOST`)"
        - "traefik.http.routers.homepage.entrypoints=websecure"
        - "traefik.http.routers.homepage.tls.certresolver=letsencrypt"
        - "traefik.http.routers.homepage.middlewares=authentik@file"

networks:
  default:
    external: true
    name: $TRAEFIK_NETWORK
    
