name: backup

services:
  databasus:
    image: databasus/databasus:latest
    restart: unless-stopped
    user: 100:102
    volumes:
      - $JOHNCLOUD_ROOT/databasus/data:/databasus-data
    networks:
      - frontend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.databasus.entryPoints=websecure"
      - "traefik.http.routers.databasus.rule=Host(`databasus.$HOST`)"
      - "traefik.http.routers.databasus.tls.certresolver=letsencrypt"
      - "traefik.http.routers.databasus.tls=true"
      - "traefik.http.routers.databasus.service=databasus"
      - "traefik.http.services.databasus.loadbalancer.server.port=4005"
      - "homepage.group=Platform"
      - "homepage.name=Databasus"
      - "homepage.icon=sh-databasus"
      - "homepage.href=https://databasus.$HOST/"
      - "homepage.description=Database backup management application for MySQL, PostgreSQL, and MariaDB"

networks:
  frontend:
    external: true
    name: $TRAEFIK_NETWORK
    