services:
  docker-socket-proxy:
    image: tecnativa/docker-socket-proxy
    container_name: dockerproxy
    networks:
      socket_ro:
        ipv4_address: 173.16.238.101
    privileged: true
    environment:
      LOG_LEVEL: info
      # Core info & inspection
      INFO: 1
      VERSION: 1
      EVENTS: 1
      PING: 1
      # Containers (read-only operations)
      CONTAINERS: 1
      # Images (list & inspect)
      IMAGES: 1
      # Volumes (list & inspect)
      VOLUMES: 1
      # Networks (list & inspect)
      NETWORKS: 1
      # Nodes & Swarm info (read-only)
      NODES: 0
      SERVICES: 0
      TASKS: 0
      # System-wide data
      SYSTEM: 0
      EXEC: 0
      POST: 0
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker:/var/lib/docker:ro

  traefik:
    image: traefik:v3
    container_name: traefik
    networks:
      frontend:
        ipv4_address: $UNIVERSE_NET.100
      backend:
      socket_ro:
    depends_on:
      - docker-socket-proxy
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped
    environment:
    # https://www.ovh.com/auth/api/createToken
    # https://eu.api.ovh.com/console/?section=%2Fme&branch=v1#delete-/me/api/application/-applicationId-
      - "TZ=$TZ"
    command:
      - --entrypoints.web.address=:80
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
      - --entrypoints.web.http.redirections.entrypoint.permanent=true
      - --entrypoints.websecure.address=:443
      - --entrypoints.websecure.http3.advertisedPort=443
      - --entrypoints.websecure.http.tls.certresolver=letsencrypt
      - --entrypoints.websecure.http.tls.domains.main=$HOST
      - --entrypoints.websecure.http.tls.domains.sans=*.$HOST
      - --entrypoints.websecure.http.middlewares=default@file
      - --entrypoints.websecure.forwardedHeaders.trustedIPs=$UNIVERSE_NET.0/24
      - --entrypoints.websecure.proxyprotocol=true
      - --entrypoints.websecure.proxyprotocol.trustedips=$UNIVERSE_NET.0/24
      - --providers.docker=true
      - --providers.docker.endpoint=http://173.16.238.101:2375
      - --providers.docker.exposedByDefault=false
      - --providers.file.directory=conf.d
      - --providers.file.watch=true
      - --api.dashboard=true
      - --api.insecure=true
      - --tracing=true
      - --accesslog=true
      - --accesslog.filepath=/logs/traefik.log
      - --accesslog.format=json
      - --accesslog.filters.statusCodes=200-299,400-599
      - --accesslog.bufferingSize=0
      - --accesslog.fields.headers.defaultMode=drop
      - --accesslog.fields.headers.names.User-Agent=keep
      - --certificatesresolvers.letsencrypt.acme.email=$EMAIL_LETS_ENCRYPT
      - --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json
      - --certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web
    volumes:
      - $JOHNCLOUD_ROOT/traefik/conf.d:/conf.d
      - /var/log/traefik:/logs
      - $JOHNCLOUD_ROOT/traefik/letsencrypt:/letsencrypt
      - $JOHNCLOUD_ROOT/traefik/plugins:/plugins-storage
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.$HOST`)"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.tls.certresolver=letsencrypt"
      - "traefik.http.routers.traefik.middlewares=authentik@file"
      - "homepage.group=Platform"
      - "homepage.name=Traefik"
      - "homepage.icon=traefik.svg"
      - "homepage.href=https://traefik.$HOST/dashboard/"
      - "homepage.description=Traefik reverse proxy"
      - "homepage.widget.type=traefik"
      - "homepage.widget.url=http://$UNIVERSE_NET.100:8080"
  
  # pdc:
  #   # https://grafana.com/docs/grafana-cloud/connect-externally-hosted/private-data-source-connect/#private-data-source-connect-pdc-concepts
  #   image: grafana/pdc-agent:latest
  #   container_name: pdc
  #   restart: unless-stopped
  #   networks:
  #     - backend
  #   depends_on:
  #     - prometheus
  #     - loki
  #   command: ["-token","$GRAFANA_PDC_TOKEN","-cluster","$GRAFANA_PDC_CLUSTER","-gcloud-hosted-grafana-id","$GRAFANA_PDC_GCP_ID"]
  #   labels:
  #     - "traefik.enable=false"

  # loki:
  #   image: dhi.io/loki:3
  #   container_name: loki
  #   user: "0:0"
  #   networks:
  #     - backend
  #   volumes:
  #     - $JOHNCLOUD_ROOT/loki/data:/loki
  #     - $JOHNCLOUD_ROOT/loki:/etc/loki-custom
  #   command: -config.file=/etc/loki-custom/config.yml
  #   environment:
  #     - TZ=$TZ
  #   labels:
  #     - "traefik.enable=false"
    
  alloy:
    image: grafana/alloy
    restart: unless-stopped
    container_name: alloy
    depends_on:
      - docker-socket-proxy
    networks:
      - backend
      - socket_ro
    volumes:
      - $JOHNCLOUD_ROOT/alloy/config.alloy:/etc/alloy/config.alloy
      - $JOHNCLOUD_ROOT/alloy/data:/var/lib/alloy/data
      - $JOHNCLOUD_ROOT/alloy/geoip:/geoip:ro
      - /var/log/snort:/var/log/snort:ro
      - /:/rootfs:ro,rslave
      - /var/run:/var/run:ro
      - /sys:/sys:ro
    command: 'run --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy'

  speedtest:
    image: jraviles/prometheus_speedtest:latest
    container_name: speedtest
    restart: unless-stopped
    networks:
      - backend

  # prometheus:
  #   image: dhi.io/prometheus:3.8
  #   container_name: prometheus
  #   user: "0:0"
  #   restart: unless-stopped
  #   depends_on:
  #     - speedtest
  #   networks:
  #     - backend
  #   volumes:
  #     - $JOHNCLOUD_ROOT/prometheus/:/etc/prometheus/
  #     - $JOHNCLOUD_ROOT/prometheus/db:/prometheus
  #     - /etc/timezone:/etc/timezone:ro
  #     - /etc/localtime:/etc/localtime:ro
  #   command:
  #     - "--web.route-prefix=/"
  #     - "--web.enable-remote-write-receiver"
  #     - "--config.file=/etc/prometheus/prometheus.yml"
  #     - "--storage.tsdb.path=/prometheus"
  #     - "--web.console.libraries=/usr/share/prometheus/console_libraries"
  #     - "--web.console.templates=/usr/share/prometheus/consoles"
  #     - "--web.enable-lifecycle"
  #   environment:
  #     - TZ=$TZ

  certdumper:
    image: ghcr.io/kereis/traefik-certs-dumper:latest
    restart: unless-stopped
    container_name: certdumper
    depends_on:
      - traefik
    networks:
      - backend
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - $JOHNCLOUD_ROOT/traefik/letsencrypt:/traefik:ro
      - $JOHNCLOUD_ROOT/traefik/certs:/output

  # arcane:
  #   image: ghcr.io/getarcaneapp/arcane:latest
  #   container_name: arcane
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #     - $JOHNCLOUD_ROOT/arcane/data:/app/data
  #     - /opt/docker:/opt/docker
  #   environment:
  #     - APP_URL=https://arcane.$HOST
  #     - PUID=1000
  #     - PGID=1000
  #     - ENCRYPTION_KEY=$ARCANE_ENCRYPTION_KEY
  #     - JWT_SECRET=$ARCANE_JWT_SECRET
  #   restart: unless-stopped
  #   networks:
  #     frontend:
  #       ipv4_address: $UNIVERSE_NET.102
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.arcane.rule=Host(`arcane.$HOST`)"
  #     - "traefik.http.routers.arcane.entrypoints=websecure"
  #     - "traefik.http.routers.arcane.tls.certresolver=letsencrypt"
  #     - "traefik.http.services.arcane.loadbalancer.server.port=3552"
  #     - "homepage.group=Arcane"
  #     - "homepage.name=Portainer"
  #     - "homepage.icon=arcane.svg"
  #     - "homepage.href=https://arcane.$HOST/"
  #     - "homepage.description=Modern Docker Management, Designed for Everyone"

  # portainer:
  #   image: portainer/portainer-ee:latest
  #   container_name: portainer
  #   restart: unless-stopped
  #   depends_on:
  #     - traefik
  #   volumes:
  #     - /etc/timezone:/etc/timezone:ro
  #     - /etc/localtime:/etc/localtime:ro
  #     - $JOHNCLOUD_ROOT/portainer/data:/data
  #     - /var/run/docker.sock:/var/run/docker.sock
  #   networks:
  #     frontend:
  #       ipv4_address: $UNIVERSE_NET.102
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.portainer.rule=Host(`portainer.$HOST`)"
  #     - "traefik.http.routers.portainer.entrypoints=websecure"
  #     - "traefik.http.routers.portainer.tls.certresolver=letsencrypt"
  #     - "traefik.http.services.portainer.loadbalancer.server.port=9000"
  #     - "homepage.group=Platform"
  #     - "homepage.name=Portainer"
  #     - "homepage.icon=portainer.svg"
  #     - "homepage.href=https://portainer.$HOST/"
  #     - "homepage.description=Making Docker and Kubernetes management easy"

  authentik_server:
    image: 'ghcr.io/goauthentik/server:${AUTHENTIK_TAG:-2025.6.4}'
    container_name: authentik_server
    restart: unless-stopped
    command: server
    environment:
      AUTHENTIK_REDIS__HOST: 'redis'
      AUTHENTIK_POSTGRESQL__HOST: 'authentik_postgresql'
      AUTHENTIK_POSTGRESQL__USER: '${AUTHENTIK_SERVICE_USER_POSTGRESQL}'
      AUTHENTIK_POSTGRESQL__NAME: '${AUTHENTIK_POSTGRES_DB}'
      AUTHENTIK_POSTGRESQL__PASSWORD: '${AUTHENTIK_PASSWORD_POSTGRESQL}'
      AUTHENTIK_SECRET_KEY: '${AUTHENTIK_SERVICE_PASSWORD_64}'
      AUTHENTIK_ERROR_REPORTING__ENABLED: true
      AUTHENTIK_EMAIL__HOST: '${AUTHENTIK_EMAIL__HOST}'
      AUTHENTIK_EMAIL__PORT: '${AUTHENTIK_EMAIL__PORT}'
      AUTHENTIK_EMAIL__USERNAME: '${AUTHENTIK_EMAIL__USERNAME}'
      AUTHENTIK_EMAIL__PASSWORD: '${AUTHENTIK_EMAIL__PASSWORD}'
      AUTHENTIK_EMAIL__USE_TLS: '${AUTHENTIK_EMAIL__USE_TLS}'
      AUTHENTIK_EMAIL__USE_SSL: '${AUTHENTIK_EMAIL__USE_SSL}'
      AUTHENTIK_EMAIL__TIMEOUT: '${AUTHENTIK_EMAIL__TIMEOUT}'
      AUTHENTIK_EMAIL__FROM: '${AUTHENTIK_EMAIL__FROM}'
      SERVICE_USER_POSTGRESQL: '${AUTHENTIK_SERVICE_USER_POSTGRESQL}'
      SERVICE_PASSWORD_POSTGRESQL: '${AUTHENTIK_PASSWORD_POSTGRESQL}'
      SERVICE_PASSWORD_64_AUTHENTIKSERVER: '${AUTHENTIK_SERVICE_PASSWORD_64}'
    volumes:
      - '$JOHNCLOUD_ROOT/authentik/media:/media'
      - '$JOHNCLOUD_ROOT/authentik/custom-templates:/templates'
    depends_on:
      - authentik_postgresql
      - redis
      - authentik_worker
    networks:
      # - backend
      - frontend
    labels:
      - traefik.enable=true
      - traefik.http.routers.authentik.entryPoints=websecure
      - 'traefik.http.routers.authentik.rule=Host(`authentik.$HOST`) && PathPrefix(`/`)'
      - traefik.http.routers.authentik.tls.certresolver=letsencrypt
      - traefik.http.routers.authentik.tls=true
      - traefik.http.services.authentik.loadbalancer.server.port=9000
      - "homepage.group=Platform"
      - "homepage.name=Authentik"
      - "homepage.icon=authentik.png"
      - "homepage.href=https://authentik.$HOST/if/admin/"
      - "homepage.description=Identity provider prioritizing security and control of your most sensitive data"
      
  authentik_worker:
    image: 'ghcr.io/goauthentik/server:${AUTHENTIK_TAG:-2025.6.4}'
    restart: unless-stopped
    command: worker
    container_name: authentik_worker
    environment:
      AUTHENTIK_REDIS__HOST: 'redis'
      AUTHENTIK_POSTGRESQL__HOST: 'authentik_postgresql'
      AUTHENTIK_POSTGRESQL__USER: '${AUTHENTIK_SERVICE_USER_POSTGRESQL}'
      AUTHENTIK_POSTGRESQL__NAME: '${AUTHENTIK_POSTGRES_DB}'
      AUTHENTIK_POSTGRESQL__PASSWORD: '${AUTHENTIK_PASSWORD_POSTGRESQL}'
      AUTHENTIK_SECRET_KEY: '${AUTHENTIK_SERVICE_PASSWORD_64}'
      AUTHENTIK_ERROR_REPORTING__ENABLED: true
      AUTHENTIK_EMAIL__HOST: '${AUTHENTIK_EMAIL__HOST}'
      AUTHENTIK_EMAIL__PORT: '${AUTHENTIK_EMAIL__PORT}'
      AUTHENTIK_EMAIL__USERNAME: '${AUTHENTIK_EMAIL__USERNAME}'
      AUTHENTIK_EMAIL__PASSWORD: '${AUTHENTIK_EMAIL__PASSWORD}'
      AUTHENTIK_EMAIL__USE_TLS: '${AUTHENTIK_EMAIL__USE_TLS}'
      AUTHENTIK_EMAIL__USE_SSL: '${AUTHENTIK_EMAIL__USE_SSL}'
      AUTHENTIK_EMAIL__TIMEOUT: '${AUTHENTIK_EMAIL__TIMEOUT}'
      AUTHENTIK_EMAIL__FROM: '${AUTHENTIK_EMAIL__FROM}'
      SERVICE_USER_POSTGRESQL: '${AUTHENTIK_SERVICE_USER_POSTGRESQL}'
      SERVICE_PASSWORD_POSTGRESQL: '${AUTHENTIK_PASSWORD_POSTGRESQL}'
      SERVICE_PASSWORD_64_AUTHENTIKSERVER: '${AUTHENTIK_SERVICE_PASSWORD_64}'
    user: root
    networks:
      # - backend
      - frontend
    volumes:
      - '$JOHNCLOUD_ROOT/authentik/media:/media'
      - '$JOHNCLOUD_ROOT/authentik/certs:/certs'
      - '$JOHNCLOUD_ROOT/authentik/custom-templates:/templates'
    depends_on:
      - authentik_postgresql
      - redis
    
  authentik_postgresql:
    image: postgres:16-trixie
    container_name: authentik_postgresql
    restart: unless-stopped
    # healthcheck:
    #   test:
    #     - CMD-SHELL
    #     - 'pg_isready -d $${AUTHENTIK_POSTGRES_DB} -U $${POSTGRES_USER}'
    #   interval: 2s
    #   timeout: 10s
    #   retries: 15
    networks:
      # - backend
      - frontend
    volumes:
      - '$JOHNCLOUD_ROOT/authentik/db:/var/lib/postgresql/data'
    environment:
      POSTGRES_PASSWORD: '${AUTHENTIK_PASSWORD_POSTGRESQL}'
      POSTGRES_USER: '${AUTHENTIK_SERVICE_USER_POSTGRESQL}'
      POSTGRES_DB: ${AUTHENTIK_POSTGRES_DB}
      SERVICE_PASSWORD_POSTGRESQL: '${AUTHENTIK_PASSWORD_POSTGRESQL}'
      SERVICE_USER_POSTGRESQL: '${AUTHENTIK_SERVICE_USER_POSTGRESQL}'

  dockhand:
    image: fnsys/dockhand:latest
    restart: unless-stopped
    container_name: dockhand
    depends_on:
      - traefik
    networks:
      frontend:
        ipv4_address: $UNIVERSE_NET.102
    volumes:
      - $JOHNCLOUD_ROOT/dockhand/data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dockhand.rule=Host(`dockhand.$HOST`)"
      - "traefik.http.routers.dockhand.entrypoints=websecure"
      - "traefik.http.routers.dockhand.tls.certresolver=letsencrypt"
      - traefik.http.services.dockhand.loadbalancer.server.port=3000
      - "homepage.group=Platform"
      - "homepage.name=Dockhand"
      - "homepage.icon=https://dockhand.pro/images/logo-dark.webp"
      - "homepage.href=https://dockhand.$HOST"
      - "homepage.description=Modern Docker management for everyone"

  redis:
    image: redis:8
    container_name: redis
    environment:
      - TZ=$TZ
      - ENABLE_OVERCOMMIT_MEMORY=true
    networks:
      - backend
    labels:
      - "traefik.enable=false"

  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: unless-stopped
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=home.$HOST
    depends_on:
      - traefik
      - docker-socket-proxy
    networks:
      - frontend
      - backend
      - socket_ro
    volumes:
      - $JOHNCLOUD_ROOT/homepage/config:/app/config # Make sure your local config directory exists
    labels:
        - "traefik.enable=true"
        - "traefik.http.routers.homepage.rule=Host(`home.$HOST`)"
        - "traefik.http.routers.homepage.entrypoints=websecure"
        - "traefik.http.routers.homepage.tls.certresolver=letsencrypt"
        - "traefik.http.routers.homepage.middlewares=authentik@file"

  tailscale:
    image: tailscale/tailscale
    container_name: tailscale
    environment:
      - TS_AUTHKEY=$TS_AUTHKEY
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
      - TS_HOSTNAME=$TS_HOSTNAME
      - TS_ROUTES=$UNIVERSE_NET.0/24
    networks:
      - frontend
    volumes:
      - $JOHNCLOUD_ROOT/tailscale:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
    restart: unless-stopped

networks:
  frontend:
    external: true
    name: $TRAEFIK_NETWORK
  backend:
    driver: bridge
  socket_ro:
    external: true
    name: $PROXY_NETWORK
