services:
  databasus:
    image: databasus/databasus:latest
    container_name: databasus
    volumes:
      - $JOHNCLOUD_ROOT/databasus/data:/databasus-data
    networks:
      - database
      - frontend
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.databasus.entryPoints=websecure
      - traefik.http.routers.databasus.rule=Host(`databasus.$HOST`)
      - traefik.http.routers.databasus.tls.certresolver=letsencrypt
      - traefik.http.routers.databasus.tls=true
      - traefik.http.services.databasus.loadbalancer.server.port=4005
      - "homepage.group=Platform"
      - "homepage.name=Databasus"
      - "homepage.icon=sh-databasus"
      - "homepage.href=https://databasus.$HOST/"
      - "homepage.description=PostgreSQL backup tool with MySQL and MongoDB support"

networks:
  frontend:
    external: true
    name: $TRAEFIK_NETWORK
  database:
    external: true
    name: $DATABASE_NETWORK
    