name: backup

services:
  databasus:
    image: databasus/databasus:latest
    restart: unless-stopped
    # user: 100:102
    volumes:
      - $JOHNCLOUD_ROOT/databasus/data:/databasus-data
    networks:
      - frontend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.databasus.entryPoints=websecure"
      - "traefik.http.routers.databasus.rule=Host(`databasus.$HOST`)"
      - "traefik.http.routers.databasus.tls.certresolver=letsencrypt"
      - "traefik.http.routers.databasus.tls=true"
      - "traefik.http.routers.databasus.service=databasus"
      - "traefik.http.services.databasus.loadbalancer.server.port=4005"
      - "homepage.group=Platform"
      - "homepage.name=Databasus"
      - "homepage.icon=sh-databasus"
      - "homepage.href=https://databasus.$HOST/"
      - "homepage.description=Database backup management application for MySQL, PostgreSQL, and MariaDB"

  duplicati:
    image: 'lscr.io/linuxserver/duplicati:latest'
    restart: unless-stopped
    environment:
      - PUID=0
      - PGID=0
      - 'TZ=${TZ:-Europe/London}'
      - 'SETTINGS_ENCRYPTION_KEY=${DUPLICATI_PASSWORD_ENCRYPT}'
      - 'DUPLICATI__WEBSERVICE_PASSWORD=${DUPLICATI_PASSWORD_WEB}'
    volumes:
      - '$JOHNCLOUD_ROOT/duplicati/config:/config'
      - '$JOHNCLOUD_ROOT:/source'
    networks:
      frontend:
    healthcheck:
      test:
        - CMD
        - curl
        - '-f'
        - 'http://127.0.0.1:8200'
      interval: 2s
      timeout: 10s
      retries: 15
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.duplicati.rule=Host(`duplicati.$HOST`)"
      - "traefik.http.routers.duplicati.entrypoints=websecure"
      - "traefik.http.routers.duplicati.tls.certresolver=letsencrypt"
      - "traefik.http.routers.duplicati.service=duplicati"
      - "traefik.http.services.duplicati.loadbalancer.server.port=8200"
      - "homepage.group=Platform"
      - "homepage.name=Duplicati"
      - "homepage.icon=duplicati.png"
      - "homepage.href=https://duplicati.$HOST/ngclient/"
      - "homepage.description=Secure backup solution for managed service providers"

networks:
  frontend:
    external: true
    name: $TRAEFIK_NETWORK
    