name: backup

services:
  # agent:
  #   image: portabase/agent:latest
  #   restart: unless-stopped
  #   volumes:
  #       # Montage du fichier de configuration des DBs
  #       # - ./databases.toml:/config/config.toml
  #       - $JOHNCLOUD_ROOT/portabase/databases.json:/config/config.json
  #   environment:
  #       LOG: info
  #       # DATABASES_CONFIG_FILE: "config.toml"
  #       TZ: $TIME_ZONE
  #       # EDGE_KEY: "${EDGE_KEY}"
  #   networks:
  #     - database

  # dashboard:
  #   image: solucetechnologies/portabase:latest
  #   restart: unless-stopped
  #   volumes:
  #     - $JOHNCLOUD_ROOT/portabase/private:/app/private
  #   networks:
  #     - database
  #     - frontend
  #   depends_on:
  #     portabase_pg:
  #       condition: service_healthy
  #   environment:
  #     - PORT=8887
  #     - PROJECT_NAME=$PROJECT_NAME
  #     - PROJECT_URL=http://localhost:8887
  #     - PROJECT_SECRET=$PROJECT_SECRET
  #     - POSTGRES_DB=portabase
  #     - POSTGRES_USER=portabase
  #     - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
  #     - POSTGRES_HOST=portabase_pg
  #     - PG_PORT=5432
  #     - DATABASE_URL=postgresql://portabase:$POSTGRES_PASSWORD@portabase_pg:5432/portabase?schema=public
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.portabase.entryPoints=websecure"
  #     - "traefik.http.routers.portabase.rule=Host(`portabase.$HOST`)"
  #     - "traefik.http.routers.portabase.tls.certresolver=letsencrypt"
  #     - "traefik.http.routers.portabase.tls=true"
  #     - "traefik.http.services.portabase.loadbalancer.server.port=3000"
  #     - "homepage.group=Platform"
  #     - "homepage.name=Portabase"
  #     - "homepage.icon=https://raw.githubusercontent.com/Portabase/portabase/master/public/images/logo.png"
  #     - "homepage.href=https://portabase.$HOST/"
  #     - "homepage.description=PostgreSQL backup tool with MySQL and MongoDB support"
  
  # portabase_pg:
  #   image: postgres:17-alpine
  #   restart: unless-stopped
  #   volumes:
  #     - $JOHNCLOUD_ROOT/portabase/db:/var/lib/postgresql/data
  #   environment:
  #     - POSTGRES_DB=portabase
  #     - POSTGRES_USER=portabase
  #     - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
  #   healthcheck:
  #     test: ["CMD-SHELL", "pg_isready -U portabase -d portabase"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5
  #   networks:
  #     - database

  databasus:
    image: databasus/databasus:latest
    container_name: databasus
    volumes:
      - $JOHNCLOUD_ROOT/databasus/data:/databasus-data
    networks:
      - database
      - frontend
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.databasus.entryPoints=websecure
      - traefik.http.routers.databasus.rule=Host(`databasus.$HOST`)
      - traefik.http.routers.databasus.tls.certresolver=letsencrypt
      - traefik.http.routers.databasus.tls=true
      - traefik.http.services.databasus.loadbalancer.server.port=4005
      - "homepage.group=Platform"
      - "homepage.name=Databasus"
      - "homepage.icon=sh-databasus"
      - "homepage.href=https://databasus.$HOST/"
      - "homepage.description=PostgreSQL backup tool with MySQL and MongoDB support"
          
networks:
  frontend:
    external: true
    name: $TRAEFIK_NETWORK
  database:
    external: true
    name: $DATABASE_NETWORK
    