JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=domain.tld
PLATFORM_NAME=Johncloud
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy
TRAEFIK_NET=192.168.203
PROXY_NETWORK=johncloud-docker-proxy
PROXY_NET=173.16.238
TAILSCALE_NETWORK=johncloud-tailscale
TAILSCALE_NET=11.16.238
EMAIL_LETS_ENCRYPT=john.doe@domain.tld
GRAFANA_PDC_TOKEN=
GRAFANA_PDC_GCP_ID=
GRAFANA_PDC_CLUSTER=
# https://tailscale.com/kb/1085/auth-keys
TS_AUTHKEY=tskey-auth-xxxxxxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TS_HOSTNAME=
AUTHENTIK_TAG=2025.10.2
AUTHENTIK_SERVICE_PASSWORD_64=
AUTHENTIK_PASSWORD_POSTGRESQL=
AUTHENTIK_EMAIL__HOST=
AUTHENTIK_EMAIL__PORT=587
AUTHENTIK_EMAIL__USERNAME=
AUTHENTIK_EMAIL__PASSWORD=
AUTHENTIK_EMAIL__USE_TLS=true
AUTHENTIK_EMAIL__USE_SSL=false
AUTHENTIK_EMAIL__TIMEOUT=3600
AUTHENTIK_EMAIL__FROM=
AUTHENTIK_KEY=
# openssl rand -hex 32
TRAEFIK_LOG_DASHBOARD_AUTH_TOKEN=
PANGOLIN_SERVER_SECRET=
GEOIPUPDATE_ACCOUNT_ID=
GEOIPUPDATE_LICENSE_KEY=
