name: backup

services:
  databasus:
    image: databasus/databasus:latest
    restart: unless-stopped
    volumes:
      - $JOHNCLOUD_ROOT/databasus/data:/databasus-data
    networks:
      - frontend
    labels:
      - pangolin.public-resources.databasus.name=databasus
      - pangolin.public-resources.databasus.full-domain=databasus.$HOST
      - pangolin.public-resources.databasus.protocol=http
      - pangolin.public-resources.databasus.ssl=true
      - pangolin.public-resources.databasus.targets[0].method=http
      - pangolin.public-resources.databasus.targets[0].port=4005
      - pangolin.public-resources.databasus.auth.sso-enabled=true
      - pangolin.public-resources.databasus.auth.sso-roles[0]=Member
      - "homepage.group=Platform"
      - "homepage.name=Databasus"
      - "homepage.icon=sh-databasus"
      - "homepage.href=https://databasus.$HOST/"
      - "homepage.description=Database backup management application for MySQL, PostgreSQL, and MariaDB"

  duplicati:
    image: 'lscr.io/linuxserver/duplicati:latest'
    restart: unless-stopped
    environment:
      - PUID=0
      - PGID=0
      - 'TZ=${TZ:-Europe/London}'
      - 'SETTINGS_ENCRYPTION_KEY=${DUPLICATI_PASSWORD_ENCRYPT}'
      - 'DUPLICATI__WEBSERVICE_PASSWORD=${DUPLICATI_PASSWORD_WEB}'
    volumes:
      - '$JOHNCLOUD_ROOT/duplicati/config:/config'
      - '$JOHNCLOUD_ROOT:/source'
    networks:
      frontend:
    healthcheck:
      test:
        - CMD
        - curl
        - '-f'
        - 'http://127.0.0.1:8200'
      interval: 2s
      timeout: 10s
      retries: 15
    labels:
      - pangolin.public-resources.duplicati.name=duplicati
      - pangolin.public-resources.duplicati.full-domain=duplicati.$HOST
      - pangolin.public-resources.duplicati.protocol=http
      - pangolin.public-resources.duplicati.ssl=true
      - pangolin.public-resources.duplicati.targets[0].method=http
      - pangolin.public-resources.duplicati.targets[0].port=8200
      - pangolin.public-resources.duplicati.auth.sso-enabled=true
      - pangolin.public-resources.duplicati.auth.sso-roles[0]=Member
      - "homepage.group=Platform"
      - "homepage.name=Duplicati"
      - "homepage.icon=duplicati.png"
      - "homepage.href=https://duplicati.$HOST/ngclient/"
      - "homepage.description=Secure backup solution for managed service providers"

networks:
  frontend:
    external: true
    name: $TRAEFIK_NETWORK
    