global:
  scrape_interval:     15s
  evaluation_interval: 15s

rule_files:
  - 'alert.rules'

scrape_configs:
  # - job_name: 'traefik'
  #   scrape_interval: 5s
  #   static_configs:
  #     - targets:
  #       - traefik:8080

  - job_name: "speedtest"
    static_configs:
      - targets: ["speedtest:9090"]
    scrape_interval: 60m

  - job_name: 'cadvisor'
    scrape_interval: 5s
    static_configs:
      - targets:
        - cadvisor:8080

  - job_name: 'crowdsec'
    scrape_interval: 5s
    static_configs:
      - targets:
        - crowdsec:6060

  - job_name: 'node_exporter'
    scrape_interval: 5s
    static_configs:
      - targets: ['node_exporter:9100']
        