global:
  evaluation_interval: 15s

rule_files:
  - 'alert.rules'

scrape_configs:
  - job_name: "speedtest"
    scrape_interval: 60m
    metrics_path: /probe
    static_configs:
      - targets: ["speedtest:9516"]
      