name: core

services:
  docker-socket-proxy:
    image: tecnativa/docker-socket-proxy
    networks:
      default:
    privileged: true
    environment:
      LOG_LEVEL: info
      # Core info & inspection
      INFO: 1
      VERSION: 1
      EVENTS: 1
      PING: 1
      # Containers (read-only operations)
      CONTAINERS: 1
      # Images (list & inspect)
      IMAGES: 1
      # Volumes (list & inspect)
      VOLUMES: 1
      # Networks (list & inspect)
      NETWORKS: 1
      # Nodes & Swarm info (read-only)
      NODES: 0
      SERVICES: 0
      TASKS: 0
      # System-wide data
      SYSTEM: 0
      EXEC: 0
      POST: 0
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker:/var/lib/docker:ro
  
  pangolin:
    image: docker.io/fosrl/pangolin:ee-1.15.1
    restart: unless-stopped
    ports:
      - "3002:3002"  # Temporary for setup
    volumes:
      - ./pangolin:/app/config
    environment:
      - NODE_ENV=prod
      - EMAIL_SMTP_PASS=$EMAIL_PASSWORD
      - SERVER_SECRET=$PANGOLIN_SERVER_SECRET
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001/api/v1"]
      interval: "3s"
      timeout: "3s"
      retries: 15
    labels:
      - "homepage.group=Platform"
      - "homepage.name=Pangolin"
      - "homepage.icon=pangolin.svg"
      - "homepage.href=https://pangolin.$HOST"
      - "homepage.description=Remote access to anything, anywhere"

  gerbil:
    image: docker.io/fosrl/gerbil:1.3.0
    restart: unless-stopped
    depends_on:
      pangolin:
        condition: service_healthy
    environment:
      - EMAIL_SMTP_PASS=$EMAIL_PASSWORD
      - SERVER_SECRET=$PANGOLIN_SERVER_SECRET
    command:
      - --reachableAt=http://gerbil:3004
      - --generateAndSaveKeyTo=/var/config/key
      - --remoteConfig=http://pangolin:3001/api/v1/
    volumes:
      - ./pangolin/:/var/config
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    ports:
      - 51820:51820/udp
      - 21820:21820/udp
      - 443:443
      - 80:80

  newt:
    image: fosrl/newt:1.8.1
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DOCKER_SOCKET=unix:///var/run/docker.sock
      - EMAIL_SMTP_PASS=$EMAIL_PASSWORD
      - SERVER_SECRET=$PANGOLIN_SERVER_SECRET
      - PANGOLIN_ENDPOINT=http://pangolin:3000
      # - PANGOLIN_ENDPOINT=$PANGOLIN_ENDPOINT
      - NEWT_ID=$NEWT_ID
      - NEWT_SECRET=$NEWT_SECRET

  geoipupdate:
    image: ghcr.io/maxmind/geoipupdate
    restart: unless-stopped
    environment:
      - 'GEOIPUPDATE_ACCOUNT_ID=$GEOIPUPDATE_ACCOUNT_ID'							# Account ID
      - 'GEOIPUPDATE_LICENSE_KEY=$GEOIPUPDATE_LICENSE_KEY'							# API key
      - 'GEOIPUPDATE_EDITION_IDS=GeoLite2-Country GeoLite2-ASN'	# Which dbs should be downloaded
      - 'GEOIPUPDATE_FREQUENCY=72'							# Update intervall in hours
    volumes:
      - './pangolin/GeoLite2:/usr/share/GeoIP'

  mwmanager:
    image: hhftechnology/middleware-manager:latest
    restart: unless-stopped
    volumes:
      - $JOHNCLOUD_ROOT/middleware-manager/data:/data
      - $JOHNCLOUD_ROOT/middleware-manager/config/traefik/rules:/conf
      - $JOHNCLOUD_ROOT/middleware-manager/config/middleware-manager/templates.yaml:/app/config/templates.yaml  # Optional custom templates
    environment:
      - PANGOLIN_API_URL=http://pangolin:3001/api/v1
      - TRAEFIK_CONF_DIR=/conf
      - DB_PATH=/data/middleware.db
      - PORT=3456
    labels:
      - "homepage.group=Platform"
      - "homepage.name=Middleware Manager"
      - "homepage.icon=pangolin.svg"
      - "homepage.href=http://mwmanager.$HOST:3456"
      - "homepage.description=Add custom middleware to Pangolin / Traefik resources"
      - pangolin.private-resources.mwmanager.name=mwmanager
      - pangolin.private-resources.mwmanager.mode=host
      - pangolin.private-resources.mwmanager.destination=core-mwmanager-1
      - pangolin.private-resources.mwmanager.site=bogus-long-nosed-bandicoot
      - pangolin.private-resources.mwmanager.alias=mwmanager.$HOST
      
  traefik:
    image: traefik:v3.6.7
    depends_on:
      docker-socket-proxy:
        condition: service_started
      gerbil:
        condition: service_started
      pangolin:
        condition: service_healthy
    network_mode: service:gerbil # Ports appear on the gerbil service
    restart: unless-stopped
    environment:
    # https://www.ovh.com/auth/api/createToken
    # https://eu.api.ovh.com/console/?section=%2Fme&branch=v1#delete-/me/api/application/-applicationId-
      - "TZ=$TZ"
    command:
      - --entrypoints.web.address=:80
      # - --entrypoints.web.http.redirections.entrypoint.to=websecure
      # - --entrypoints.web.http.redirections.entrypoint.scheme=https
      # - --entrypoints.web.http.redirections.entrypoint.permanent=true
      - --entrypoints.websecure.address=:443
      - --entrypoints.websecure.http.tls.certresolver=letsencrypt
      # - --entrypoints.websecure.http3.advertisedPort=443
      # - --entrypoints.websecure.http.tls.domains.main=$HOST
      # - --entrypoints.websecure.http.tls.domains.sans=*.$HOST
      # - --entrypoints.websecure.http.middlewares=default@file
      # - --entrypoints.websecure.forwardedHeaders.trustedIPs=$TRAEFIK_NET.0/24
      # - --entrypoints.websecure.proxyprotocol=true
      # - --entrypoints.websecure.proxyprotocol.trustedips=$TRAEFIK_NET.0/24
      - --entrypoints.websecure.transport.respondingTimeouts.readTimeout=30m
      # - --providers.docker=true
      # - --providers.docker.endpoint=http://docker-socket-proxy:2375
      # - --providers.docker.exposedByDefault=false
      # - --providers.file.directory=conf.d
      # - --providers.file.watch=true
      - --serversTransport.insecureSkipVerify=true
      - --ping.entryPoint=web
      - --providers.http.endpoint=http://pangolin:3001/api/v1/traefik-config
      - --providers.http.pollInterval=5s
      - --providers.file.filename=/conf.d/dynamic_config.yml
      - --api.dashboard=true
      - --api.insecure=true
      # - --tracing=true
      - --log.level=INFO
      - --log.format=common
      - --accesslog=true
      - --accesslog.filepath=/var/log/traefik/access.log
      # - --accesslog.format=json
      # - --accesslog.filters.statusCodes=200-299,400-599
      # - --accesslog.bufferingSize=0
      # - --accesslog.fields.headers.defaultMode=drop
      # - --accesslog.fields.headers.names.User-Agent=keep
      - --certificatesresolvers.letsencrypt.acme.email=$EMAIL_LETS_ENCRYPT
      - --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json
      - --certificatesresolvers.letsencrypt.acme.caServer=https://acme-v02.api.letsencrypt.org/directory
      - --certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web
      - --experimental.plugins.badger.moduleName=github.com/fosrl/badger
      - --experimental.plugins.badger.version=v1.3.1
      # - --experimental.plugins.mtlswhitelist.moduleName=github.com/smerschjohann/mtlswhitelist
      # - --experimental.plugins.mtlswhitelist.version=v0.0.4
    volumes:
      - $JOHNCLOUD_ROOT/traefik/conf.d:/conf.d
      # - /var/log/traefik:/logs
      - ./pangolin/traefik/logs:/var/log/traefik
      - $JOHNCLOUD_ROOT/traefik/letsencrypt:/letsencrypt
      # - $JOHNCLOUD_ROOT/traefik/plugins:/plugins-storage
      # - $JOHNCLOUD_ROOT/middleware-manager/config/traefik:/etc/traefik:ro
      - $JOHNCLOUD_ROOT/middleware-manager/config/traefik/rules:/rules
    labels:
      # - "traefik.enable=true"
      # - "traefik.http.routers.traefik.rule=Host(`traefik.$HOST`)"
      # - "traefik.http.routers.traefik.service=api@internal"
      # - "traefik.http.routers.traefik.entrypoints=websecure"
      # - "traefik.http.routers.traefik.tls.certresolver=letsencrypt"
      # - "traefik.http.routers.traefik.middlewares=authentik@file"
      - "homepage.group=Platform"
      - "homepage.name=Traefik"
      - "homepage.icon=traefik.svg"
      - "homepage.href=https://traefik.$HOST/dashboard/"
      - "homepage.description=Traefik reverse proxy"
      - "homepage.widget.type=traefik"
      - "homepage.widget.url=http://traefik:8080"
  
  certdumper:
    image: ghcr.io/kereis/traefik-certs-dumper:latest
    restart: unless-stopped
    depends_on:
      - traefik
    networks:
      - default
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - $JOHNCLOUD_ROOT/traefik/letsencrypt:/traefik:ro
      - $JOHNCLOUD_ROOT/traefik/certs:/output
      
  dockhand:
    image: fnsys/dockhand:latest
    restart: unless-stopped
    user: 0:0
    networks:
      default:
    volumes:
      - $JOHNCLOUD_ROOT/dockhand/data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      - pangolin.public-resources.dockhand.name=dockhand
      - pangolin.public-resources.dockhand.full-domain=dockhand.$HOST
      - pangolin.public-resources.dockhand.protocol=http
      - pangolin.public-resources.dockhand.ssl=true
      - pangolin.public-resources.dockhand.targets[0].method=http
      - pangolin.public-resources.dockhand.targets[0].port=3000
      - "homepage.group=Platform"
      - "homepage.name=Dockhand"
      - "homepage.icon=https://dockhand.pro/images/logo-dark.webp"
      - "homepage.href=https://dockhand.$HOST"
      - "homepage.description=Modern Docker management for everyone"

networks:
  default:
    external: true
    name: $TRAEFIK_NETWORK
    