JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=domain.tld
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy
TRAEFIK_NET=192.168.203
EMAIL_LETS_ENCRYPT=john.doe@domain.tld
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
PANGOLIN_SERVER_SECRET=
NEWT_ID=
NEWT_SECRET=
GEOIPUPDATE_ACCOUNT_ID=
GEOIPUPDATE_LICENSE_KEY=
# Find the Docker group ID on your host (Linux)
# stat -c '%g' /var/run/docker.sock
DOCKER_GROUP_ID=
