JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=domain.tld
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy
EMAIL_PASSWORD=
EMAIL_TIMEOUT=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_USE_SSL=
EMAIL_FROM=
EMAIL_HOST=
EMAIL_USE_TLS=
AUTHENTIK_PASSWORD_POSTGRESQL=
AUTHENTIK_SERVICE_PASSWORD_64=
AUTHENTIK_KEY=
